mnist-net_256x2.onnx.immediate_values.pickle filter=lfs diff=lfs merge=lfs -text
mnist-net_256x4.onnx.immediate_values.pickle filter=lfs diff=lfs merge=lfs -text
mnist-net_256x6.onnx.immediate_values.pickle filter=lfs diff=lfs merge=lfs -text
